.store {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
    }
}