.cart {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    background-color: #3c424d;
    border-radius: 12px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: fixed;
    right: 10px;
    top: 80px;


    &-items {
        overflow-y: scroll;
    }

    &-item {
        display: grid;
        grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
        align-items: center;

        &__button {
            width: 40px;
            height: 40px;
            padding: 1.5rem;
            img {
                width: 20px;
                height: 25px;
            }
        }
        &__name {
            width: 250px;
        }
        
    }
    &-total {
        display: grid;
        grid-template-columns: 3fr 5fr 1fr 18px;
    }
    h3 {
        margin-block: 10px;
    }
}

.minus_button {
    background-color: rgb(223, 90, 23);
    &:hover {
        background-color: rgb(255, 69, 0);
    }
}
.plus_button {
    background-color: rgb(152, 199, 35);
    &:hover {
        background-color: rgb(170, 223, 35);
    }
}
