.menu-bar {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98%;
    justify-content: space-between;
    column-gap: 20px;
    position: fixed;
    padding: 15px;
    border-radius: 12px;
    background-color: #282c34;
    z-index: 100;

    &__button {
        background-color: orange;
        width: 40px;
        height: 40px;
        padding: 1.5rem;
        img {
            width: 20px;
            height: 25px;
        }
        &:hover {
            background-color: rgb(255, 178, 36);
        }
    }

    input {
        font: inherit;
        width: 2000px;
        min-width: 200px;
        padding: 0.5rem;
        border-radius: 6px;
        border: 1px solid;
        border-color: #ccc;
        flex: 0 1 1;
        &:focus {
            outline: none;
        }
    }
}
